<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Example test run">
  <test name="edgetest">
  <parameter name ="browser" value="chrome"/>
  <parameter name ="title" value="Log in to Facebook"/>
  
    <classes>
      <class name="Testng.Testcases"/>
    </classes>
  </test>
 
  
</suite>